/* Standard body layout */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* styling of the body */
.contain{
    margin: 0;
    background-image: url("https://images6.alphacoders.com/430/thumb-1920-430362.jpg");
    object-fit: contain;
    height:100vh;
    position: absolute;
    font-family: sans-serif;
}

/* The panel which sets up the game states */
.setup{
    position: fixed;
    top: 70%;
    left:50%;
    transform: translate(-50%, -50%);
    background: whitesmoke;
    width:50vh;
    padding:40px;
    border: 1px solid gray;
}

/* Set the psuedo nav width */
.alert{
    width: 100vw;
    background: rgba(0, 100, 40, 0.7);
}

/* styling for the player entry fields */
.names{
    margin-top: 5px;
    display: none;
}

/* Table styling */
.playernames{
    font-weight: 700;
    width: 80vw;
    margin:auto;
}

/* Table rows styling */
.playernames td, .playernames th{
    border: 1px solid grey;
    padding:5px;
    background-color: honeydew;
}

/* An animation to remove the panel on call */
.panel_remove{
    animation: hide_panel 1s ease;
    visibility: hidden;
}

/* Score inputs styling */
.score_updates{
    width: 80vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
}

.score_updates button{
    padding:5px;
    font-weight: 700;
}

.score_updates div{
    margin:4px;
    font-weight: 700;
}


/* Style for the restart button */
.restart{
    visibility: hidden;
}


/* Style for the winner alert */ 
.winner{
    font-weight: 700;
    font-size: 50px;
    width:50vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    border-radius: 20px;
    display: none;
    text-transform: capitalize;
}

/* Remove panel animation */
@keyframes hide_panel{
    0%{
        visibility: visible;
        opacity:1;
    }
    100%{
        opacity: 0;
    }
}
