*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}

.body{
    margin: 0;
    background-color: rgba(50,205,50,0.4);
    height:100vh;
    position: absolute;
}
.setup{
    position: relative;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background: whitesmoke;
    width:50vh;
    padding:40px;
    border: 1px solid gray;
}

.alert{
    width: 100vw;
}
.names{
    margin-top: 5px;
    visibility: hidden;
}

.playernames{
    font-weight: 700;
    width: 80vw;
    margin:auto
}

.playernames td, .playernames th{
    border: 1px solid grey;
    padding:5px;
    background-color: honeydew;
}

.dart_add{
    font-style: italic;
    font-size: 30px;
    font-weight: 800;
}

.panel_remove{
    animation: hide_panel 1s ease;
    visibility: hidden;
}

.score_updates{
    margin-top: 50px;
    justify-content: center;
}

.score_updates button{
    padding:5px;
}

.score_updates div{
    margin:4px;
    font-weight: 700;
    font-style: italic;
}

@keyframes hide_panel{
    0%{
        visibility: visible;
        opacity:1;
    }
    100%{
        opacity: 0;
    }
}
