/* Standard body layout */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* styling of the body */
.contain{
    margin: 0;
    background: #0a642d;
    object-fit: contain;
    height:100vh;
    font-family: sans-serif;
}

/* The panel which sets up the game states */
.setup{
    position: fixed;
    top: 70%;
    left:50%;
    transform: translate(-50%, -50%);
    background: whitesmoke;
    width:100vw;
    padding:40px;
    border: 1px solid gray;
}

/* Set the psuedo nav width */
.alert{
    width: 100vw;
    background: rgba(255, 0, 34, 0.9);
    color:white;
}

/* styling for the player entry fields */
.names{
    margin-top: 5px;
    display: none;
}

/* Table styling */
.playernames{
    font-weight: 700;
    width: 100vw;
    margin:auto;
}

/* Table rows styling */
.playernames td, .playernames th{
    border: 1px solid grey;
    padding:5px;
    background-color: honeydew;
}

/* An animation to remove the panel on call */
.panel_remove{
    animation: hide_panel 1s ease;
    visibility: hidden;
}

/* Score inputs styling */
.score_updates{
    width: 100vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
}

.score_updates button{
    font-weight: 700;
    margin: 4px;
}

.score_updates div{
    font-weight: 700;
    padding:10px;
    margin:1px;
    border: 1px solid grey;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Style for the restart button */
.restart{
    visibility: hidden;
}


/* Style for the winner alert */ 
.winner{
    font-weight: 700;
    font-size: 50px;
    width:50vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    border-radius: 20px;
    display: none;
    text-transform: capitalize;
}

.high_score{
    padding:10px;
    background-color: rgba(255, 255, 255, 0.7);
    width:70vw;
    margin: auto;
    margin-bottom: 2vh;
    font-weight: 700;
    border: solid #222222 2px;
}

.rolling{
    display: none;
}
.dart_out{
    display:flex;
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
    margin: auto;
    max-width: 400px;
}
#darts{
    width:20vh;
    height: 4vh;
    margin-right: 10px;
}

/* Remove panel animation */
@keyframes hide_panel{
    0%{
        visibility: visible;
        opacity:1;
    }
    100%{
        opacity: 0;
    }
}

/* change style according to screen size */
@media only screen and (min-width: 1000px){
    .score_updates div{
        text-align: right;
        margin:20px;
        margin-right: 230px;
    }
}

@media only screen and (min-width:1600px){
    .score_updates{
        transform: scale(1.2);
    }
    .score_updates div{
        margin-right: 400px;
    }
}